/* Main Body */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 4px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container h1 {
    margin: 0;
}

/* Title in Header */
.title-container {
    position: absolute;
    left: 249px; /* Adjust as needed */
    top: 0;
}

.header-title {
    color: rgba(255, 255, 255, 0.811); /* Adjust text color as needed */
    margin: 0;
}

/* Subject Container in Header */
.subject-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11.1px;
    background-color: #333333;
}

/* Flashcards Display Array */
.flashcard-container {
    margin: 50px auto;
    width: 80%;
}

/* Adding and Editing Flaschards Array Section */
.flashcard-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Buttons */
.button-group {
    margin-top: 20px;
}

.button-group button {
    margin: 5px;
}

/* Progress Dots */
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #4dc968;
}

/* Sidebar --> Contains Recently Deleted Flaschards */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

/* Recently Deleted Flaschards */
#deletedFlashcardsList {
    list-style: none;
    padding: 0;
}

#deletedFlashcardsList li {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Interaction with elements in Deleted Flashcards List */
#deletedFlashcardsList li:hover {
    background-color: #ddd;
}